#container {
  position: relative;
  text-align: center;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  float: left;
  font-size: 200%;
}

#container2 {
  border: 8px solid rgb(204, 137, 137);
  border-radius: 20px;
}

p {
  font-size: 28px;
  font-weight: bold;
}